body {
  background-color: #11151c;
  /* background: linear-gradient(to bottom, #240046, #3e1f47); */
  width: 95%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.line-1 {
  width: 70%;
}

#mail {
  width: 70%;
  margin-left: 14%;
}

#name {
  width: 70%;
  margin-left: 14%;
}

.ul-list {
  padding-top: 50px;
}

.ul-list {
  list-style-type: none;
  padding: 0;
}

.ul-list li {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #f2e9e4;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 20px;
  background-color: #f2e9e4;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #66afe9;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.but-get {
  background-color: #353535;
  color: white;
  padding: 20px;
  margin-left: 35%;
  margin-bottom: 50px;
  border-radius: 20px;
  width: 25%;
  font-size: 18px;
}

